.filler {
  width: 24px;
  height: 24px;
}
.team-one-numbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-left: 60px;
  height: 60px;
  align-items: center;
}

.team-two-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60px;
}

.game-board-away-row {
  display: flex;
  flex-direction: row;
}

.game-board-row {
  display: flex;
  flex-direction: row;
}

.game-board-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, 1fr);
}