.game-square {
  height: 60px;
  width: 90px;
}

.game-square-input {
  height: 60px;
  width: 90px;
  padding-left: 4px;
  padding-right: 4px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: none;
  border-bottom: none;
  font-size: 24px;
}